{template "content","header"}
<!--main-->
<div class="main">
    <div class="category_banner">
        <img src="{APP_PATH}statics/images/category_banner{$top_parentid}.png" width="960px" height="130px"/>
    </div>
    <div class="bk10"></div>
    <div class="col-left-min">
        <div class="nav-box">
            {if $top_parentid}
            <div class="snheader textaligncenter">{$CATEGORYS[$catid][catname]}</div>
            <div class="snbody">
                <ul>
                {pc:content action="category" catid="$top_parentid" num="15" siteid="$siteid" order="listorder ASC"}
                    {loop $data $r}
                    <li class="left-subnav">
                    <a href="{$r[url]}">{$r[catname]}</a>
                    </li>
                    {/loop}
                {/pc}
                </ul>
            {/if}
            </div>
            <div class="snfooter">
            </div>
        </div>
        <div class="bk10"></div>
    </div>
    <div class="col-right">
        <div class="crumbs"><a href="{siteurl($siteid)}">首页</a><span> > </span>{catpos($catid)} </div>
        {pc:content action="lists" catid="$catid" num="25" order="id DESC" page="$page"}
        <ul class="list lh24 f14">
        {loop $data $r}
            <li><span class="rt">{date('Y-m-d H:i:s',$r[inputtime])}</span>·<a href="{$r[url]}" target="_blank"{title_style($r[style])}>{$r[title]}</a></li>
            {if $n%5==0}<li class="bk20 hr"></li>{/if}
        {/loop}
                </ul>
                <div id="pages" class="text-c">{$pages}</div>
        {/pc}
    </div>    
</div>
{template "content","footer"}