<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link href="{CSS_PATH}reset.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}default_blue.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery.sgallery.js"></script>
<script type="text/javascript" src="{JS_PATH}search_common.js"></script>
</head>
<body>
<div class="body-top">
    <div class="content">
		欢迎来到北航先进工业技术研究院
	</div>
</div>
<div class="header">
    <div class="banner">
		<img src="{APP_PATH}statics/images/banner.jpg" width="960" height="130"/>
	</div>
    <div class="nav-bar">
    	<map>
    	{pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
        	<ul class="nav-site">
			<li><a href="{siteurl($siteid)}"><span>首页</span></a></li>
			{loop $data $r}
			<li class="line">|</li>
			<li><a href="{$r[url]}"><span>{$r[catname]}</span></a></li>
			{/loop}
            </ul>
        {/pc}
		{php echo runhook('glogal_menu')}
        </map>
    </div> 
	
	{if $top_parentid}
    <div class="subnav">
		{pc:content action="category" catid="$top_parentid" num="15" siteid="$siteid" order="listorder ASC"}
			{loop $data $r}
			<a href="{$r[url]}">{$r[catname]}</a><span> | </span>
			{/loop}
        {/pc}
    </div>
	{/if}
</div>
</div>