{template "content","header"}
<!--main-->
<div class="main">
	<div class="col-left">
    	<div class="news-hot">
        	<div class="content">
        	{pc:content  action="position" posid="2" order="listorder DESC" num="3"}
        	 {loop $data $r}
                <h4 class="blue"><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],36,'')}</a></h4>
                <p>{if $n==1}<img src="{thumb($r[thumb],90,60)}" width="90" height="60"/>{/if}{str_cut($r[description],112)}</p>
                <div class="bk20 hr"><hr /></div>
               {/loop}  
             {/pc}   
            </div>
        </div>
        <div class="slide">
            <div class="FocusPic">
            {pc:content  action="position" posid="1"  order="listorder DESC" thumb="1" num="5"}
            	<div class="content" id="main-slide">
                    <div class="changeDiv">  
                    {loop $data $r}
                        <a href="{$r['url']}" title="{str_cut($r['title'],30)}"><img src="{thumb($r['thumb'],310,260)}" alt="{$r['title']}" width="310" height="260" /></a>
                    {/loop}
                    </div>
                </div>
            {/pc}
            </div>
            <div class="bk10"></div>
        </div>
        <div class="bk10"></div>
        <div class="box">
        		<h5>公司介绍</h5>
            <div>
                公司简介：
                    北京北航先进工业技术研究院有限公司成立于2010年11月，注册资本金5000万元，是北京航空航天大学委托北京北航资产经营有限公司独资设立的全资子公司。
                核心优势：
                    北京北航先进工业技术研究院有限公司以北航为主体、企业化运作，与北航民口科技管理部门、北航国家大学科技园三位一体支撑北京北航先进工业技术研究院的建设运行。北京北航先进工业技术研究院有限公司是北京北航先进工业技术研究院建设运行的企业实体，集合了北京航空航天大学的人才、科技、成果资源和北航国家大学科技园产学研合作基地、密云产业化基地以及公共服务平台资源，用专职专业的服务团队、提供优势的管理服务。
            </div>
        </div>
        <div class="bk10"></div>
		
		{loop subcat(7,0,0,$siteid) $r}
        {php $num++}
        <div class="box cat-area" {if $num%2!=0}style=" margin-right:10px"{/if}>
        		<h5 class="title-1">{$r[catname]}<a href="{$r[url]}" class="more">更多>></a></h5>
             <div class="content">
             {pc:content  action="lists" catid="$r[catid]" order="updatetime DESC" thumb="1" num="1" return="info"}
             {loop $info $v}
             	<p>
             		<img src="{thumb($v[thumb],90,0)}" width="90" height="60"/>
                    <strong><a href="{$v['url']}" target="_blank" title="{$v['title']}"{title_style($v[style])}>{str_cut($v['title'],28)}</a></strong><br />{str_cut($v['description'],100)}
                </p>
              {/loop}
              {/pc}                
                <div class="bk15 hr"></div>
                {pc:content action="lists" catid="$r[catid]" num="5" order="id DESC" return="info"}

                <ul class="list lh24 f14">
                {loop $info $v}
                	<li>·<a href="{$v['url']}" target="_blank" title="{$v['title']}"{title_style($v[style])}>{str_cut($v['title'],40)}</a></li>
                {/loop}
                </ul>
                {/pc}
            </div>
        </div>
        {if $num%2==0}<div class="bk10"></div>{/if}
		{/loop}
		
        {loop subcat(0,0,0,$siteid) $r}
        {php $num++}
		{if $r[catid]==7 or $r[catid]==9 or $r[catid]==10 or $r[catid]==17}
		{php $num--}
		{php continue}
		{/if}
        <div class="box cat-area" {if $num%2!=0}style=" margin-right:10px"{/if}>
        		<h5 class="title-1">{$r[catname]}</h5>
             <div class="content">
            {pc:content action="category" catid="$r[catid]" num="15" siteid="$siteid" order="listorder ASC"}
			<ul class="list lh24 f14">
			{loop $data $lanmu}
				<li>·
					<a href="{$lanmu[url]}">{$lanmu[catname]}</a>
				</li>
			{/loop}
			</ul>
			{/pc}
            </div>
        </div>
        {if $num%2==0}<div class="bk10"></div>{/if}
		{/loop}
    </div>
    <div class="col-auto">
    	<div class="box">
        	 <h5 class="title-2">公告<a href="" class="more">&nbsp;</a></h5>
             <div class="content">
                {pc:announce  action="lists" siteid="$siteid" num="5"}
                <ul class="list lh24 f14">
                   {loop $data $r}
                     <li>.<a href="{APP_PATH}index.php?m=announce&c=index&a=show&aid={$r['aid']}">{$r['title']}</a></li>
                   {/loop}
                </ul>
                {/pc}
            </div>
        </div>
        <div class="bk10"></div>
		<div class="box height1">
        	<h5 class="title-2">科技资源</h5>
            <div class="content">
            {pc:content action="category" catid="10" num="15" siteid="$siteid" order="listorder ASC"}
			{loop $data $r}
				<div class="kejiziyuan">
					<a href="{$r[url]}">{$r[catname]}</a>
					<img src="{APP_PATH}statics/images/sp1.jpg" width="100" height="40"/>
				</div>
			{/loop}
			{/pc}
            </div>
        </div>
        <div class="bk10"></div>
		<div class="box height2">
        	<h5 class="title-2">服务平台</h5>
            <div class="content">
            {pc:content action="category" catid="9" num="15" siteid="$siteid" order="listorder ASC"}
			{loop $data $r}
			{php $pic=1}
				<div class="service-platform">
					<a href="{$r[url]}">{$r[catname]}<br/>
					<img src="{APP_PATH}statics/images/sp{$pic}.jpg"/>
					</a>
				</div>
			{/loop}
			{/pc}
            </div>
        </div>
        <div class="bk10"></div>
		<div class="box height3">
        	<h5 class="title-2">展示图片</h5>
            <div class="content">

            </div>
        </div>
        <div class="bk10"></div>
    </div>
    <div class="bk10"></div>
	
	<div class="box blogroll ylink">
    	<h5><a href="{APP_PATH}index.php?m=link&siteid={$siteid}" hidefocus="true" class="rt">更多>></a><span style="color:#666">友情链接</span></h5>
	<ul class="colli imgul">
        {pc:link  action="type_list" siteid="$siteid" linktype="2" order="listorder DESC" num="8" return="pic_link"}
        {loop $pic_link $v}
        <li><a href="{$v['url']}" title="{$v['name']}" target="_blank"><img src="{$v[logo]}" width="88" height="31" /></a></li>
        {/loop}
        {/pc}
    </ul>
     {pc:link  action="type_list" siteid="$siteid" order="listorder DESC" num="10" return="dat"}
     <div class="bk10"></div>
	<div class="linka">
		{loop $dat $v}
              {if $type==0}
              <a href="{$v[url]}" target="_blank">{$v[name]}</a> |
              {else}
              <a href="{$v[url]}" target="_blank"><img src="{$v[logo]}" width="88" height="31" style="border: 1px solid #FFBE7A;"></a> 
              {/if}
		{/loop}
 	</div>
	{/pc}
</div>
</div>
<script type="text/javascript"> 
$(function(){
	new slide("#main-slide","cur",310,260,1);//焦点图
	new SwapTab(".SwapTab","span",".tab-content","ul","fb");//排行TAB
})
</script>
{template "content","footer"}